.navbar
  padding: 20px 0
  margin-bottom: 30px
  &__main
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__input
    input
      height: 40px
      width: 690px
      background: url(/img/home.png) 95% 55% no-repeat
      border: $grey 1px solid
      padding-left: 25px
    img
      align-self: center
      margin: 9px -23px 0 8px
      z-index: 1
      float: left
  &__logo
    display: flex
    flex-direction: row
    width: 100px
    span
      margin-left: 15px
      font-size: 15px
  &__button
    img
      background-color: #000
      align-self: center
      margin: 9px -23px 8px 8px
      z-index: 2
      float: left
    input 
      border: none
      border-radius: 2px
      padding: 11px 22px
    input:nth-child(2)
      background: url(/img/human.png) 5% 5% no-repeat
      color: #fff
      background: #1890FF
    input:nth-child(3)
      background: $grey
.header__main
  display: flex
  justify-content: center
  margin-bottom: 58px
  img
    width: 1200px
    align-self: center
// Блок меню
.menu
  display: flex
  flex-direction: column
  &__card
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &s
      display: flex
      flex-direction: column
      background-color: #fff
      width: 376px
      margin-bottom: 30px
      &_info
        display: flex
        flex-direction: column
        width: 337px
        margin: auto
      &_icon
        display: flex
        align-items: center
        i
          color: $stars
        ul
          display: flex
          color: $grey
          li:nth-child(1)
            list-style: none
            padding-right: 20px
      &_text
        display: flex
        justify-content: space-between
        align-items: center
        span
          background-color: #000
          border-radius: 6px
          color: #fff
          width: 76px
          padding: 8px
          text-align: center
  &__text
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 49px
    h2
      font-size: 34px
    input
      border: 1px solid $grey
      color: $grey
      font-weight: normal
      width: 306px
      padding: 10px 0 10px 30px 
    img
      position: absolute
      left: 72.52%
.background
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%)