* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: Roboto, sans-serif; margin: 0; padding: 0; }

img { max-width: 100%; }

.container { width: 1170px; margin: auto; }

input { outline: none; }

.background { background: -webkit-gradient(linear, left top, left bottom, color-stop(1.04%, rgba(245, 245, 245, 0)), to(#F5F5F5)); background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%); }

@media (max-width: 1200px) { .container { width: 900px; }
  .navbar { width: 900px; }
  .navbar__input { display: none; } }

@media (max-width: 900px) { .container { width: 770px; }
  .navbar { width: 750px; }
  header { width: 800px; }
  .menu__text input, .menu__text img { display: none; } }

@media (max-width: 680px) { .container { width: 500px; }
  .header__main img { display: none; }
  .navbar__main { width: 350px; }
  .footer { width: 400px; }
  .footer__main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .footer__logo { margin-bottom: 40px; }
  .footer__logo_img img, .footer__logo_img span { display: none; }
  .footer__network { min-width: 300px; } }

.navbar { padding: 40px 0; }

.navbar__main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.navbar__input input { height: 40px; width: 690px; background: url(/img/home.png) 95% 55% no-repeat; border: #BFBFBF 1px solid; padding-left: 25px; }

.navbar__input img { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; margin: 9px -23px 0 8px; z-index: 1; float: left; }

.navbar__logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100px; }

.navbar__logo span { margin-left: 15px; font-size: 15px; }

.navbar__button img { background-color: #000; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; margin: 9px -23px 8px 8px; z-index: 2; float: left; }

.navbar__button input { border: none; border-radius: 2px; padding: 11px 22px; }

.navbar__button input:nth-child(2) { background: url(/img/human.png) 5% 5% no-repeat; color: #fff; background: #1890FF; }

.navbar__button input:nth-child(3) { background: #BFBFBF; }

.header__main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 58px; }

.header__main img { width: 1200px; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

.menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-bottom: 60px; }

.menu__card { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.menu__cards { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #fff; width: 376px; margin-bottom: 30px; }

.menu__cards_info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 337px; margin: auto; }

.menu__cards_icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.menu__cards_icon i { color: #FFC107; }

.menu__cards_icon ul { display: -webkit-box; display: -ms-flexbox; display: flex; color: #BFBFBF; }

.menu__cards_icon ul li:nth-child(1) { list-style: none; padding-right: 20px; }

.menu__cards_text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.menu__cards_text span { background-color: #000; border-radius: 6px; color: #fff; width: 76px; padding: 8px; text-align: center; }

.menu__text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 49px; }

.menu__text h2 { font-size: 34px; }

.menu__text input { border: 1px solid #BFBFBF; color: #BFBFBF; font-weight: normal; width: 306px; padding: 10px 0 10px 30px; }

.menu__text img { position: absolute; left: 72.52%; }

.footer { padding: 40px 0; width: 100%; }

.footer__main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.footer__logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.footer__logo_img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100px; }

.footer__logo_img span { margin-left: 15px; font-size: 15px; }

.footer__logo_contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 375px; margin-left: 45px; }

.footer__logo_contact a { text-decoration: none; color: #595959; }

.footer__network { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 10%; }
/*# sourceMappingURL=style.css.map */